/*Général*/

body {
    background: url("") center center no-repeat;
    background-color: #e38d13;
    background-size: cover;
    position: inherit;
    padding-top: 60px;
}

h2 {
    margin-top:50px;
    padding: 20px;
    background: #5F5F5F;
    border: 1px solid #5F5F5F;

    border-radius: 388px;
    -moz-border-radius: 388px;
    -webkit-border-radius: 388px;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    color: #ffffff;
}

.container_1 {
    height:200px;
    
}

.navbar-default {
    background-color: #5F5F5F;
    border: 1px white;
    height: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.resultats {
    padding: 20px;
    height:400px;
    background: #ffffff;
    border: 1px solid #bbbbbb;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-bottom: 20px;
}
td {
    padding: px;
}


.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }