/*Général*/

body {
    background: url("") center center no-repeat;
    background-size: cover;
    position: inherit;
    padding-top: 70px;
}

.resultats {
    padding: 20px;
    height:400px;
    background: #eeeeee;
    border: 1px solid #bbbbbb;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-bottom: 20px;
}
td {
    padding: px;
    text-align: right;
}
