/*Général*/

body {
    background: url("") center center no-repeat;
    background-size: cover;
    position: inherit;
    padding-top: 80px;
}

.navbar-default {
    background-color: #5F5F5F;
    border: 1px white;
    height: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.resultats {
    padding: 20px;
    height:400px;
    background: #eeeeee;
    border: 1px solid #bbbbbb;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-bottom: 20px;
}
td {
    padding: px;
    text-align: right;
}
